@*if(Request.IsAuthenticated && User.IsInRole ("Admin"))
{*@
<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @*Place our menu items*@
        <li class="dropdown-header">Admin Area</li>
        <li class="divider" />
        <li><a href="/Admin/Section">&nbsp;&nbsp;Section</a></li>
        <li><a href="/Admin/Part">&nbsp;&nbsp;Part</a></li>
        <li><a href="/Admin/ItemType">&nbsp;&nbsp;Item Type</a></li>
        <li><a href="/Admin/VehicleType">&nbsp;&nbsp;Vehicle Type</a></li>
        <li><a href="/Admin/VehicleLinkText">&nbsp;&nbsp;Vehicle Link Text</a></li>
        <li class="divider" />
        <li class="dropdown-header">Major Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Item">&nbsp;&nbsp;Item</a></li>
        <li><a href="/Admin/Vehicle">&nbsp;&nbsp;Vehicle</a></li>
        <li><a href="/Admin/Subscription">&nbsp;&nbsp;Subscription</a></li>
        <li class="divider" />
        <li class="dropdown-header">Connector Entities</li>
        <li class="divider" />
        <li><a href="/Admin/VehicleItem">&nbsp;&nbsp;Vehicle Item</a></li>
        <li><a href="/Admin/SubscriptionVehicle">&nbsp;&nbsp;Subscription Vehicle</a></li>
        <li class="divider" />
        <li class="dropdown-header">Users & Subscriptions</li>
        <li class="divider" />
        <li> <a href="Account"> &nbsp;&nbsp; Users & Subscriptions</a>
    </ul>
</li>
@* } *@

